{% macro row(person) %}

<tr>
    <th scope="row">{{ person['name'] }}</th>
    <td>{{ person['gb_points'] }}</td>
    <td>{{ person['chore'] }}</td>
    <td>
        <form method="POST">
            {% if person['completed'] %}
            <button name="person" value="{{ person['name'] }}" type="submit" disabled>I'm done!</button>
            {% elif person['chore'] != None %}
            <button name="person" value="{{ person['name'] }}" type="submit">I'm done!</button>
            {% endif %}
        </form>
    </td>
</tr>

{% endmacro %}

{% macro table(people) %}

<table>
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">GB Points ⭐😺</th>
            <th scope="col">Chore</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        {% for person in people %}
            {{ row(person) }}
        {% endfor %}
        {{ row({'name': 'biscuit', 'gb_points': 1000000, 'chore': None, 'completed': False}) }}
    </tbody>
</table>

{% endmacro %}