{% from "_table.html" import table with context %}

<!DOCTYPE html>
<html lang="en" data-theme="light">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='main.css')}}">
    <script src="{{ url_for('static', filename='main.js') }}"></script>
    <title>Chores!</title>
</head>
<body>
    <main class="container">
        {% for message in get_flashed_messages() %}
        <p>{{ message }}</p>
        <img src="{{ url_for('static', filename='goku.webp') }}" width="250">
        <img src="{{ url_for('static', filename='biscuit.webp') }}" width="202">
        {% endfor %}
        <h1>GBOTM</h1>
        <p>This month's Good Boy{% if gbotm|length > 0 %}s{% endif %} of the Month: {{ gbotm }}</p>
        <h1>Chores</h1>
        {{ table(people) }}
    </main>
</body>
</html>